<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="<%= link %>/css/output.css" />
    <title>URL Shortly</title>
  </head>
  <body>
    <div class="flex items-center justify-center flex-col py-12">
      <div>
        <h1 class="text-2xl text-[#009DE4] font-medium text-center">
          Paste your URL to the input field
        </h1>
      </div>
      <div
        class="w-[80%] flex items-center justify-center flex-col drop-shadow-sm"
      >
        <div class="py-5">
          <form action="/url" method="POST">
            <div class="flex items-center gap-3">
              <input
                type="text"
                name="mainUrl"
                placeholder="Enter your url"
                class="input input-bordered input-info w-full max-w-xs"
              />
              <button class="btn btn-info text-white font-medium" type="submit">
                Generate Short URL
              </button>
            </div>
          </form>
        </div>
        <div class="overflow-x-auto">
          <% if(locals.data.length > 0) { %>
          <table class="table shadow-sm">
            <tr class="bg-[#009DE4] text-xl text-white font-medium">
              <th class="border">Seriral</th>
              <th class="border">Main URL</th>
              <th class="border">Short URL</th>
              <th class="border">Count</th>
            </tr>
            <% data.forEach(function(url,index){ %>
            <tr class="border">
              <td><%= index++ %></td>
              <td class="border"><%= url.mainUrl %></td>
              <td
                class="border bg-base-200 text-[#222222] underline font-normal"
              >
                <a
                  href="http://localhost:8000/url/<%= url.shortUrl %>"
                  target="_blank"
                >
                  <%= url.shortUrl %>
                </a>
              </td>
              <td><%= url.count %></td>
            </tr>
            <% }); %>
          </table>
          <% } else { %>
          <p class="text-lg text-[#222222] font-normal">
            Your short URL generated successfully
            <a href="http://localhost:8000/url" class="underline text-[#009DE4]"
              >click here</a
            >
          </p>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
